.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    border-radius: 8px;
    padding: 20px;
  }
  
  .MyGallery {
    width: 50%;
    margin-right: 20px;
  }

  .img-uniforme {
    width: 100%;
    max-width: 50px;
    height: auto;
    max-height: 50px;
    object-fit: contain;
  }

  .actions {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  
  .actions .button {
    margin-bottom: 10px;
  }
  
  .actions .input-group {
    display: flex;
    align-items: center;
  }
  
  .actions input[type="number"] {
    width: 80px;
    margin-right: 10px;
  }
  
  .button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .button-unlike {
    background-color: white;
  }
  .button-primary {
    background-color: #2a78e4;
  }
  
  .button-danger {
    background-color: #f44336;
  }
  
  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
  
  input[type="number"]::-webkit-inner-spin-button, 
  input[type="number"]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }
  
  .switch {
	display: inline-block;
	position: relative;
	width: 70px;
	height: 40px;
	cursor: pointer;
	overflow: hidden;
}

.switch input {
	position: absolute;
	top: -30px;
	left: -30px;
	width: 0;
	height: 0;
}

.switch input + span {
    position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background: #99b4df;
   border-radius: 20px;
}

.switch input:checked + span {
	background: #346abf;
}

.switch input + span:before {
	content: "";
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 4px;
	width: 32px;
	height: 32px;
	background: white;
	border-radius: 50%;
	transform: translateY(-50%);
	transition: all .5s;
}


.switch input:checked + span:before {
	left: 34px;
}










.user-table {
  width: 100%;
  border-collapse: collapse;
}

.user-table th, .user-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.user-table th {
  background-color: #f2f2f2;
  color: black;
}

.user-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.user-table tr:hover {
  background-color: #ddd;
}
 
.button {
  /* background-color: #4CAF50; */
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
} 

.button-blue {
  background-color: blue;
}

.button-red {
  background-color: red;
}

.button-light-red {
  background-color: #ff5c50;
}

.button-danger {
  background-color: #f44336;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.image-thumbnail {
  max-width: 200px;
  max-height: 200px;
}


